<!DOCTYPE html>
<html>
<head>
	<title></title>	
	<meta charset="utf-8">
	<script src="{{url_for('static', filename='script.js')}}" defer></script>
</head>
<body>
	<h2 id="ok">Hello </h2>
	<select id="cbox">
  		<option value="https://en.wikipedia.org/wiki/Emmanuel_Macron">https://en.wikipedia.org/wiki/Emmanuel_Macron</option>
  		<option value="b"> B </option>
 	 	<option value="c"> C </option>
	</select>
	<input type="text" name="txt" id="texte">
	<input type="submit" name="" value="Analyser">
	<input type="file" name="f">

</body>

</html>